In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
df1 = pd.read_csv('cleaned_df.csv')
df = df1.copy()
df

,make_model,make,location,price,body_type,type,doors,warranty,mileage,gearbox,...,categorized_fuel_type,age,comfort_convenience_counts,entertainment_media_counts,extra_counts,safety_security_counts,comfort_convenience_category,safety_security_category,extras_category,entertainment_media_category
0,Mercedes-Benz A 160,Mercedes-Benz,"P.I. EL PALMAR C/FORJA 6, 11500 PUERTO DE SAN...",16950.0,Compact,Used,5.0,24.0,120200.0,Manual,...,Diesel,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mercedes-Benz EQE 350,Mercedes-Benz,"APARTADO DE CORREOS 1032, 26140 LOGROÑO, ES",80900.0,Compact,Pre-registered,4.0,24.0,5000.0,Automatic,...,Electric,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mercedes-Benz A 45 AMG,Mercedes-Benz,"PORT. TARRACO, MOLL DE LLEVANT, Nº 5, LOC. 6-8...",69900.0,Compact,Used,5.0,12.0,18900.0,Automatic,...,Benzine,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mercedes-Benz A 35 AMG,Mercedes-Benz,"Carrer de Provença, 31 Local, 8029 BARCELONA, ES",46990.0,Compact,Used,5.0,12.0,18995.0,Automatic,...,Benzine,2.0,4.0,1.0,1.0,5.0,Basic,Basic,Basic,Basic
4,Mercedes-Benz A 45 AMG,Mercedes-Benz,"CARRIL ARAGONES 4, 30007 CASILLAS, ES",16800.0,Compact,Used,5.0,12.0,197000.0,Automatic,...,Diesel,7.0,5.0,4.0,NaN,6.0,Basic,Basic,NaN,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29475,Volvo S40,Volvo,"Stobbeweg 6, 2461 EX TER AAR, NL",5499.0,Sedan,Used,4.0,NaN,145000.0,Automatic,...,Benzine,18.0,9.0,2.0,2.0,10.0,Basic,Standard,Basic,Basic
29476,Volvo C30,Volvo,"Sur rendez-vous, 5060 Sambreville, BE",7300.0,Sedan,Used,3.0,13.0,96000.0,Manual,...,Diesel,11.0,10.0,7.0,3.0,15.0,Standard,Standard,Basic,Standard
29477,Volvo S90,Volvo,"Bergambachterstraat 5, 2871 JB SCHOONHOVEN, NL",29900.0,Sedan,Used,4.0,12.0,94343.0,Automatic,...,Benzine,5.0,16.0,8.0,2.0,9.0,Standard,Basic,Basic,Standard
29478,Volvo S80,Volvo,"Lage Ham 106, 5102 AE DONGEN, NL",4440.0,Sedan,Used,4.0,NaN,230047.0,Automatic,...,Benzine,20.0,11.0,1.0,4.0,12.0,Standard,Standard,Standard,Basic
29479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29480 entries, 0 to 29479
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   make_model                    28630 non-null  object
 1   make                          28630 non-null  object
 2   location                      28630 non-null  object
 3   price                         28630 non-null  float64
 4   body_type                     28630 non-null  object
 5   type                          28630 non-null  object
 6   doors                         28271 non-null  float64
 7   warranty                      13465 non-null  float64
 8   mileage                       28629 non-null  float64
 9   gearbox                       28382 non-null  object
 10  fuel_type                     26843 non-null  object
 11  seller                        28630 non-null  object
 12  seats                         25505 non-null  float64
 13  engine_size                   27227 non-null  float64
 14  gears                         18954 non-null  float64
 15  co₂emissions                  18594 non-null  float64
 16  drivetrain                    16893 non-null  object
 17  cylinders                     18852 non-null  float64
 18  empty_weight                  17758 non-null  float64
 19  full_service_history          12565 non-null  object
 20  upholstery                    18610 non-null  object
 21  previous_owner                14015 non-null  float64
 22  energy_efficiency_class       7804 non-null   object
 23  avg_fuel_consumption          19897 non-null  float64
 24  horsepower                    28054 non-null  float64
 25  categorized_fuel_type         26517 non-null  object
 26  age                           28628 non-null  float64
 27  comfort_convenience_counts    25433 non-null  float64
 28  entertainment_media_counts    23644 non-null  float64
 29  extra_counts                  23480 non-null  float64
 30  safety_security_counts        25415 non-null  float64
 31  comfort_convenience_category  25433 non-null  object
 32  safety_security_category      25415 non-null  object
 33  extras_category               23480 non-null  object
 34  entertainment_media_category  23644 non-null  object
dtypes: float64(18), object(17)
memory usage: 7.9+ MB

In [8]:
df.columns

Index(['make_model', 'make', 'location', 'price', 'body_type', 'type', 'doors',
       'warranty', 'mileage', 'gearbox', 'fuel_type', 'seller', 'seats',
       'engine_size', 'gears', 'co₂emissions', 'drivetrain', 'cylinders',
       'empty_weight', 'full_service_history', 'upholstery', 'previous_owner',
       'energy_efficiency_class', 'avg_fuel_consumption', 'horsepower',
       'categorized_fuel_type', 'age', 'comfort_convenience_counts',
       'entertainment_media_counts', 'extra_counts', 'safety_security_counts',
       'comfort_convenience_category', 'safety_security_category',
       'extras_category', 'entertainment_media_category'],
      dtype='object')

In [10]:
def analyze_null_values(df):
    """
    Compute null value counts and percentages for each column in a DataFrame.

    Parameters:
    df (pandas.DataFrame): Input DataFrame to analyze

    Returns:
    pandas.DataFrame: DataFrame with null count and percentage for each column
    """
    #Calculate null counts
    null_counts = df.isnull().sum()
    #Calculate null percentages
    null_percentages = (df.isnull().sum() / len(df)) * 100
    #Combine into a single DataFrame
    null_analysis = pd.DataFrame({
        'Null Count': null_counts,
        'Null Percentage': null_percentages.round(2)
    })
    return null_analysis.sort_values(by = 'Null Percentage')

null_summary = analyze_null_values(df)
null_summary

                              Null Count  Null Percentage
make_model                           850             2.88
make                                 850             2.88
location                             850             2.88
price                                850             2.88
body_type                            850             2.88
type                                 850             2.88
seller                               850             2.88
age                                  852             2.89
mileage                              851             2.89
gearbox                             1098             3.72
doors                               1209             4.10
horsepower                          1426             4.84
engine_size                         2253             7.64
fuel_type                           2637             8.95
categorized_fuel_type               2963            10.05
seats                               3975            13.48
comfort_convenience_category        4047            13.73
comfort_convenience_counts          4047            13.73
safety_security_counts              4065            13.79
safety_security_category            4065            13.79
entertainment_media_counts          5836            19.80
entertainment_media_category        5836            19.80
extras_category                     6000            20.35
extra_counts                        6000            20.35
avg_fuel_consumption                9583            32.51
gears                              10526            35.71
cylinders                          10628            36.05
upholstery                         10870            36.87
co₂emissions                       10886            36.93
empty_weight                       11722            39.76
drivetrain                         12587            42.70
previous_owner                     15465            52.46
warranty                           16015            54.32
full_service_history               16915            57.38
energy_efficiency_class            21676            73.53

In [12]:
#Assuming df is your DataFrame 
columns_with_850_nulls = ['make_model', 'make', 'price', 'body_type', 'type', 'seller']

#Filter the rows where the specified columns have null values
null_rows = df[df[columns_with_850_nulls].isnull().any(axis=1)]

#Display the rows with null values
null_rows

,make_model,make,location,price,body_type,type,doors,warranty,mileage,gearbox,...,categorized_fuel_type,age,comfort_convenience_counts,entertainment_media_counts,extra_counts,safety_security_counts,comfort_convenience_category,safety_security_category,extras_category,entertainment_media_category
1785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Drop rows where any of the specified columns have null values
df_cleaned = df.dropna(subset=columns_with_850_nulls)
null_summary2 = analyze_null_values(df_cleaned)
null_summary2

                              Null Count  Null Percentage
make_model                             0             0.00
make                                   0             0.00
location                               0             0.00
price                                  0             0.00
body_type                              0             0.00
type                                   0             0.00
mileage                                1             0.00
seller                                 0             0.00
age                                    2             0.01
gearbox                              248             0.87
doors                                359             1.25
horsepower                           576             2.01
engine_size                         1403             4.90
fuel_type                           1787             6.24
categorized_fuel_type               2113             7.38
seats                               3125            10.92
comfort_convenience_category        3197            11.17
comfort_convenience_counts          3197            11.17
safety_security_counts              3215            11.23
safety_security_category            3215            11.23
entertainment_media_counts          4986            17.42
entertainment_media_category        4986            17.42
extras_category                     5150            17.99
extra_counts                        5150            17.99
avg_fuel_consumption                8733            30.50
gears                               9676            33.80
cylinders                           9778            34.15
upholstery                         10020            35.00
co₂emissions                       10036            35.05
empty_weight                       10872            37.97
drivetrain                         11737            41.00
previous_owner                     14615            51.05
warranty                           15165            52.97
full_service_history               16065            56.11
energy_efficiency_class            20826            72.74

In [16]:
combined_null_summary = pd.concat([null_summary, null_summary2], axis=1)
combined_null_summary

,Null Count,Null Percentage,Null Count,Null Percentage
make_model,850,2.88,0,0.00
make,850,2.88,0,0.00
location,850,2.88,0,0.00
price,850,2.88,0,0.00
body_type,850,2.88,0,0.00
type,850,2.88,0,0.00
seller,850,2.88,0,0.00
age,852,2.89,2,0.01
mileage,851,2.89,1,0.00
gearbox,1098,3.72,248,0.87
doors,1209,4.10,359,1.25
horsepower,1426,4.84,576,2.01
engine_size,2253,7.64,1403,4.90
fuel_type,2637,8.95,1787,6.24
categorized_fuel_type,2963,10.05,2113,7.38
seats,3975,13.48,3125,10.92
comfort_convenience_category,4047,13.73,3197,11.17
comfort_convenience_counts,4047,13.73,3197,11.17
safety_security_counts,4065,13.79,3215,11.23
safety_security_category,4065,13.79,3215,11.23
entertainment_media_counts,5836,19.80,4986,17.42
entertainment_media_category,5836,19.80,4986,17.42
extras_category,6000,20.35,5150,17.99
extra_counts,6000,20.35,5150,17.99
avg_fuel_consumption,9583,32.51,8733,30.50
gears,10526,35.71,9676,33.80
cylinders,10628,36.05,9778,34.15
upholstery,10870,36.87,10020,35.00
co₂emissions,10886,36.93,10036,35.05
empty_weight,11722,39.76,10872,37.97
drivetrain,12587,42.70,11737,41.00
previous_owner,15465,52.46,14615,51.05
warranty,16015,54.32,15165,52.97
full_service_history,16915,57.38,16065,56.11
energy_efficiency_class,21676,73.53,20826,72.74

In [18]:
#Filter the rows where the specified columns have null values
null_rows = df_cleaned[df_cleaned[['age', 'mileage']].isnull().any(axis=1)].T
null_rows

,683,10870,17219
make_model,Mercedes-Benz E 53 AMG,Fiat 500X,Toyota Corolla
make,Mercedes-Benz,Fiat,Toyota
location,"Avenue de L'industrie 24, 4500 Huy, BE","Cruquiusweg 35, 2102 LS HEEMSTEDE, NL","Steenbokstraat 3, 7324 AZ APELDOORN, NL"
price,108900.0,41570.0,33999.0
body_type,Convertible,Off-Road/Pick-up,Compact
type,Demonstration,Demonstration,Demonstration
doors,2.0,5.0,5.0
warranty,24.0,NaN,NaN
mileage,3856.0,NaN,2494.0
gearbox,Automatic,Automatic,Automatic
fuel_type,Gasoline,NaN,Super E10 95
seller,Dealer,Dealer,Dealer
seats,4.0,5.0,NaN
engine_size,2999.0,1469.0,1987.0
gears,8.0,7.0,NaN
co₂emissions,219.0,NaN,89.0
drivetrain,4WD,NaN,NaN
cylinders,NaN,4.0,4.0
empty_weight,NaN,1380.0,1315.0
full_service_history,NaN,NaN,Yes
upholstery,Full leather,Full leather,Cloth
previous_owner,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN
avg_fuel_consumption,NaN,NaN,NaN
horsepower,435.0,131.0,184.0
categorized_fuel_type,Benzine,NaN,Benzine
age,NaN,0.0,NaN
comfort_convenience_counts,21.0,14.0,15.0
entertainment_media_counts,8.0,3.0,9.0
extra_counts,8.0,3.0,4.0
safety_security_counts,17.0,12.0,19.0
comfort_convenience_category,Premium,Standard,Standard
safety_security_category,Standard,Standard,Standard
extras_category,Standard,Basic,Standard
entertainment_media_category,Standard,Basic,Premium

In [20]:
fiat_500x = df_cleaned[df_cleaned['make_model']=='Fiat 500x']
print('Age 0.0 Mean Mileage: ', fiat_500x[fiat_500x['age']==0.0]['mileage'].mean())
print('Fiat 500x Mean Mileage: ', fiat_500x['mileage'].mean())
df_cleaned.loc[10870, 'mileage'] = int(fiat_500x[fiat_500x['age']==0.0]['mileage'].mean())

Age 0.0 Mean Mileage:  nan
Fiat 500x Mean Mileage:  nan

ValueError: cannot convert float NaN to integer

In [26]:
mercedesbenz_e53_amg = df_cleaned[df_cleaned['make_model']== 'Mercedes-Benz E 53 AMG']
print(mercedesbenz_e53_amg.shape)
print(mercedesbenz_e53_amg[['price', 'mileage', 'age']].sort_values(by='mileage'))

(26, 35)
         price   mileage  age
2118  109989.0    3000.0  0.0
883    95500.0    3023.0  0.0
1805   88755.0    3079.0  0.0
683   108900.0    3856.0  NaN
1107   91585.0    4900.0  0.0
920    92995.0    8430.0  1.0
747   102990.0    9000.0  0.0
1104   89685.0    9500.0  0.0
954   106890.0    9900.0  0.0
2252  117203.0   10500.0  1.0
1810   65950.0   11289.0  3.0
750    98900.0   15632.0  1.0
791    95900.0   18143.0  1.0
837    93999.0   19563.0  1.0
1841   58950.0   22000.0  3.0
865    69980.0   24789.0  3.0
339    82500.0   27188.0  4.0
2125   83900.0   28000.0  1.0
1075   67940.0   29035.0  3.0
1663   54880.0   35550.0  4.0
573   107290.0   39757.0  1.0
1926   59399.0   48500.0  3.0
2076   59849.0   61840.0  3.0
826    59950.0   96000.0  3.0
1622   40999.0  174717.0  3.0
1626   40999.0  174717.0  3.0

In [28]:
df_cleaned.loc[683, 'age'] = 0.0

In [36]:
toyota_corolla = df_cleaned[df_cleaned['make_model']=='Toyota Corolla']
print(toyota_corolla.shape)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(toyota_corolla['age'].mean())
    print(toyota_corolla[toyota_corolla['mileage']<=2494]['age'].mean())
    print(toyota_corolla[toyota_corolla['engine_size']==1987]['age'].mean())
    print(toyota_corolla[['engine_size', 'mileage', 'price', 'age']].sort_values(by='price', ascending=False))

(203, 35)
4.1138613861386135
0.22727272727272727
1.3214285714285714
       engine_size   mileage    price   age
18469       1987.0      17.0  43950.0   0.0
18543       1987.0      10.0  40899.0   0.0
18354       1987.0   11104.0  39950.0   3.0
18406       1987.0     500.0  39480.0   0.0
17221       1987.0   50000.0  36995.0   1.0
18502       1987.0      10.0  36390.0   0.0
18383       1987.0    9990.0  36020.0   0.0
18518       1987.0    3562.0  35990.0   0.0
18412       1987.0   11000.0  35900.0   1.0
18508       1987.0      20.0  34990.0   0.0
19051       1987.0   12557.0  34088.0   1.0
17219       1987.0    2494.0  33999.0   NaN
18865       1987.0      20.0  33990.0   0.0
18705       1987.0    1380.0  33990.0   0.0
18816       1987.0    1500.0  33490.0   0.0
18549       1987.0    5000.0  33125.0   0.0
18459       1987.0      20.0  32990.0   0.0
18495       1987.0    4500.0  32990.0   0.0
18526       1987.0   15900.0  32890.0   0.0
19125       1798.0    4068.0  32156.0   1.0
18458       1987.0      10.0  31998.0   1.0
18520       1798.0   20000.0  31995.0   1.0
18451       1987.0   40601.0  31995.0   2.0
18764       1987.0    5000.0  31989.0   0.0
18474          NaN       5.0  31900.0   0.0
18714       1987.0   10244.0  31900.0   0.0
18700       1987.0    6995.0  31900.0   0.0
18656       1987.0   20679.0  31690.0   2.0
18388       1987.0      10.0  31490.0   0.0
18479       1987.0   15500.0  31488.0   1.0
18396       1987.0   17900.0  31480.0   1.0
18489       1987.0    1000.0  31190.0   1.0
18575       1987.0   36500.0  30990.0   2.0
18625       1987.0   36400.0  30990.0   2.0
18570       1987.0   36500.0  30990.0   2.0
18573       1987.0   22000.0  30990.0   1.0
18568       1987.0   22000.0  30990.0   1.0
18617       1987.0   21000.0  30990.0   1.0
17330       1987.0    9130.0  30950.0   1.0
18528       1798.0    4318.0  30899.0   1.0
17326       1987.0   21184.0  30899.0   2.0
18801       1987.0    4300.0  30450.0   0.0
18875       1798.0      10.0  30350.0   0.0
18794       1798.0    4900.0  30350.0   0.0
18461       1987.0   20536.0  29990.0   1.0
18385       1987.0   28569.0  29990.0   1.0
18500       1987.0   35286.0  29990.0   3.0
18834       1987.0      20.0  29990.0   0.0
17212       1987.0    3320.0  29900.0   3.0
18418       1987.0   12500.0  29900.0   2.0
18531       1798.0   45994.0  29899.0   1.0
18519       1798.0   33920.0  29899.0   1.0
19122       1987.0    1500.0  29890.0   0.0
18372       1987.0   39911.0  29750.0   1.0
18483       1987.0   28571.0  29650.0   1.0
17763       1576.0  200000.0  29500.0  37.0
18387       1987.0   23930.0  29490.0   1.0
18507       1987.0   38000.0  29480.0   1.0
18523       1798.0   23000.0  29450.0   1.0
18400       1987.0   24057.0  29250.0   1.0
18482       1798.0    5395.0  28990.0   1.0
18484       1798.0   11750.0  28990.0   1.0
18407       1987.0   17350.0  28990.0   1.0
18490       1798.0   21852.0  28900.0   1.0
18534       1987.0   45607.0  28900.0   3.0
18497       1798.0   29357.0  28700.0   1.0
19113       1798.0     900.0  28690.0   0.0
18729       1987.0    5882.0  28636.0   0.0
18730       1987.0    5882.0  28636.0   0.0
18718       1987.0    5882.0  28636.0   0.0
18711       1987.0    5882.0  28636.0   0.0
18679       1987.0    5882.0  28636.0   0.0
18672       1987.0    5882.0  28636.0   0.0
18725       1987.0    5882.0  28636.0   0.0
18446       1987.0   61551.0  28500.0   2.0
18503       1798.0   19927.0  28490.0   1.0
18436       1798.0   41997.0  28400.0   1.0
18521       1798.0   34000.0  27990.0   1.0
18536       1798.0   23889.0  27990.0   1.0
18527       1798.0   26000.0  27990.0   1.0
18411       1798.0   25258.0  27990.0   1.0
18413       1798.0   11000.0  27990.0   1.0
19028       1987.0   18250.0  27989.0   0.0
18550       1987.0   48580.0  27980.0   3.0
18473       1798.0   51985.0  27950.0   1.0
18609       1798.0   23100.0  27910.0   1.0
17278       1987.0    4787.0  27900.0   1.0
18574       1987.0   43000.0  27900.0   3.0
18430       1798.0   89107.0  27700.0   1.0
18402       1987.0   38900.0  27680.0   1.0
18514       1798.0   33000.0  27490.0   1.0
18540       1798.0   27500.0  27490.0   1.0
17253       1987.0   60927.0  27450.0   3.0
18449       1798.0   75908.0  27400.0   1.0
18533       1798.0   45803.0  27299.0   1.0
17364       1987.0   22769.0  26950.0   2.0
18399       1798.0   24900.0  26950.0   1.0
19005       1200.0       1.0  26900.0   1.0
18491       1798.0   37239.0  26900.0   1.0
18435       1798.0   93784.0  26900.0   1.0
18541       1798.0   45096.0  26899.0   1.0
18423       1987.0   27681.0  26840.0   2.0
18553       1987.0   17227.0  26800.0   3.0
18538       1798.0   48486.0  26699.0   1.0
18542       1798.0   26200.0  26500.0   1.0
18522       1798.0   37391.0  26499.0   1.0
17817       1987.0   11000.0  26490.0   3.0
18501       1987.0   49374.0  26000.0   3.0
18790       1987.0   29880.0  25990.0   3.0
18789       1987.0   29880.0  25990.0   3.0
18364       1987.0   46500.0  25900.0   3.0
18375       1987.0   46500.0  25900.0   3.0
18356       1987.0   46500.0  25900.0   3.0
18795       1987.0   28495.0  25790.0   2.0
18517       1798.0   20000.0  25490.0   1.0
18870       1987.0   26166.0  24990.0   3.0
18378       1987.0   44700.0  24989.0   3.0
18548       1798.0   39085.0  24950.0   2.0
19007       1197.0       1.0  24950.0   1.0
17942       1600.0  210000.0  24900.0  36.0
19084       1798.0   29629.0  24800.0   2.0
18559       1798.0   12807.0  24795.0   1.0
18555       1798.0   18301.0  24795.0   1.0
18763       1987.0   50470.0  24770.0   3.0
18424       1798.0       3.0  24600.0   0.0
18804       1798.0   34350.0  24490.0   3.0
18640       1798.0   23000.0  23990.0   2.0
18886       1798.0   20300.0  23990.0   2.0
17264       1798.0   41090.0  23950.0   1.0
18478       1987.0   41343.0  23900.0   3.0
19060       1798.0   14725.0  23900.0   2.0
18370       1197.0   16010.0  23890.0   0.0
18398       1197.0   16010.0  23890.0   0.0
18408       1197.0   16010.0  23890.0   0.0
18390       1197.0    4900.0  23650.0   1.0
18838          NaN   50300.0  23490.0   3.0
18815       1987.0   47850.0  23450.0   3.0
18465       1987.0   78535.0  23249.0   3.0
18885       1197.0      78.0  22990.0   0.0
19026       1987.0   29900.0  22990.0   2.0
19041       2000.0   19843.0  22754.0   3.0
18748       1798.0   24927.0  22718.0   2.0
18684       1798.0   24927.0  22718.0   2.0
18713       1798.0   24927.0  22718.0   2.0
17476       1576.0  185000.0  22500.0  36.0
17481       1598.0  185000.0  22500.0  36.0
18511       1798.0   70989.0  22500.0   3.0
18907       1798.0   24697.0  22490.0   3.0
18909       1197.0    1122.0  22490.0   1.0
18889       1197.0    9517.0  21990.0   1.0
17152       1798.0   33416.0  21900.0   1.0
19040       1798.0   14947.0  21900.0   1.0
18421          NaN   58200.0  21750.0   2.0
19123       1798.0   35888.0  21480.0   3.0
18898       1798.0   25000.0  20990.0   2.0
18693       1800.0   46000.0  20990.0   3.0
18727       1800.0   46000.0  20990.0   3.0
18927       1798.0   68216.0  20900.0   2.0
18498          NaN   30000.0  20900.0   3.0
17033       1987.0   60000.0  20900.0   3.0
19097       1798.0   29425.0  20899.0   2.0
19101       1798.0   29425.0  20899.0   2.0
19053       1798.0   29425.0  20899.0   2.0
19083       1798.0   29425.0  20899.0   2.0
18682       1798.0  111095.0  20490.0   3.0
18382       1798.0   56900.0  20489.0   3.0
18945       1800.0   35922.0  20026.0   3.0
18506       1798.0   11000.0  19995.0   2.0
19148       1197.0    8800.0  19990.0   2.0
18395       1197.0   35223.0  19990.0   2.0
18797       1798.0   76400.0  19989.0   3.0
17201       1796.0   95132.0  19945.0  16.0
19030       1798.0   46972.0  19900.0   3.0
18882       1798.0   69557.0  19590.0   2.0
18731       1197.0   28607.0  19490.0   3.0
18529       1197.0   25150.0  19489.0   3.0
19108       1197.0   12287.0  19450.0   2.0
18883       1197.0   19280.0  18990.0   3.0
18851       1197.0   21574.0  18900.0   2.0
18856       1798.0   67731.0  18900.0   3.0
18868       1197.0   23675.0  18800.0   3.0
18872       1798.0   47275.0  18500.0   3.0
18771       1598.0   52350.0  18440.0   4.0
19078       1197.0   28500.0  17450.0   3.0
17053       1798.0  108512.0  16900.0   3.0
18796       1598.0   54856.0  15490.0   6.0
17802       1158.0   73000.0  12900.0  44.0
17718          NaN  120086.0  11886.0  35.0
17919       1796.0   58200.0   9990.0  20.0
17866          NaN  134000.0   9500.0  32.0
17894       1298.0  136000.0   8900.0  41.0
17014       1598.0   49000.0   8590.0  14.0
17214       1796.0  185934.0   7245.0  19.0
17242       1598.0  119257.0   6990.0  16.0
19093       1364.0  125565.0   5400.0  15.0
17271       1398.0   68671.0   4950.0  18.0
17233       1598.0  155469.0   4750.0  16.0
17231       1398.0  173737.0   4445.0  17.0
17834          NaN  153704.0   2800.0  20.0
18752       1598.0  261259.0   2699.0  20.0
17244       1332.0  107523.0   1950.0  24.0
19129       1332.0  153289.0   1950.0  26.0
18976       1600.0  145554.0   1900.0  22.0

In [38]:
df_cleaned.loc[17219, 'age'] = 0.0

In [40]:
df_cleaned['full_service_history'].value_counts()

full_service_history
Yes    12565
Name: count, dtype: int64

In [66]:
df_cleaned['non_smoker_vehicle'].value_counts()

Series([], Name: count, dtype: int64)

In [68]:
df_cleaned.loc[df_cleaned['full_service_history'].isna(), 'full_service_history'] = 'No'
df_cleaned.loc[df_cleaned['non_smoker_vehicle'].isna(), 'non_smoker_vehicle'] = 'No'

In [70]:
null_summary3 = analyze_null_values(df_cleaned)
null_summary3

                              Null Count  Null Percentage
make_model                             0             0.00
age                                    0             0.00
full_service_history                   0             0.00
seller                                 0             0.00
mileage                                1             0.00
non_smoker_vehicle                     0             0.00
body_type                              0             0.00
price                                  0             0.00
type                                   0             0.00
make                                   0             0.00
location                               0             0.00
gearbox                              248             0.87
doors                                359             1.25
horsepower                           576             2.01
engine_size                         1403             4.90
fuel_type                           1787             6.24
categorized_fuel_type               2113             7.38
seats                               3125            10.92
comfort_convenience_category        3197            11.17
comfort_convenience_counts          3197            11.17
safety_security_category            3215            11.23
safety_security_counts              3215            11.23
entertainment_media_category        4986            17.42
entertainment_media_counts          4986            17.42
extra_counts                        5150            17.99
extras_category                     5150            17.99
avg_fuel_consumption                8733            30.50
gears                               9676            33.80
cylinders                           9778            34.15
upholstery                         10020            35.00
co₂emissions                       10036            35.05
empty_weight                       10872            37.97
drivetrain                         11737            41.00
previous_owner                     14615            51.05
warranty                           15165            52.97
energy_efficiency_class            20826            72.74

In [78]:
filling_nutts_with_mode = ['gearbox','doors', 'horse_power', 'engine_size', 
                           'categorized,fuel_type','seats', 'gears', 'cylinders',
                           'upholstery', 'empty_weight', 'drivetrain']

In [80]:
null_mask = df_cleaned[df_cleaned[['gearbox','doors', 'horsepower', 'empty_weight']].isnull().any(axis=1)][['make_model', 'gearbox', 'doors']]
null_mask

                   make_model    gearbox  doors
0         Mercedes-Benz A 160     Manual    5.0
1       Mercedes-Benz EQE 350  Automatic    4.0
2      Mercedes-Benz A 45 AMG  Automatic    5.0
3      Mercedes-Benz A 35 AMG  Automatic    5.0
6       Mercedes-Benz CLA 180     Manual    5.0
...                       ...        ...    ...
29454              Volvo XC60  Automatic    NaN
29455               Volvo S90  Automatic    4.0
29456              Volvo XC60  Automatic    NaN
29457              Volvo XC60  Automatic    NaN
29463               Volvo 960  Automatic    4.0

[11026 rows x 3 columns]

In [82]:
x = df_cleaned.groupby('make_model')['horsepower']
mode_per_group = df.groupby('make_model')['horsepower'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
mode_per_group

make_model
Dacia                       45.0
Dacia Break                  NaN
Dacia Dokker                75.0
Dacia Duster               109.0
Dacia Jogger               110.0
                           ...
Volvo V90 Cross Country    190.0
Volvo XC40                 190.0
Volvo XC60                 190.0
Volvo XC70                 163.0
Volvo XC90                 235.0
Name: horsepower, Length: 611, dtype: float64

In [92]:
x.get_group('dacia')

15422     45.0
15464     45.0
15465     45.0
16537    110.0
16846     54.0
Name: horsepower, dtype: float64

In [94]:
df_cleaned[df_cleaned['make_model']=='dacia']

,make_model,make,location,price,body_type,type,doors,warranty,mileage,gearbox,...,age,comfort_convenience_counts,entertainment_media_counts,extra_counts,safety_security_counts,comfort_convenience_category,safety_security_category,extras_category,entertainment_media_category,non_smoker_vehicle
15422,dacia,Dacia,"Weiherstraße 15, 71106 Magstadt, DE",19515.0,Compact,Demonstration,5.0,NaN,2376.0,Automatic,...,1.0,8.0,6.0,1.0,15.0,Basic,Standard,Basic,Standard,No
15464,dacia,Dacia,"Haardt 2, 09247 Chemnitz-Röhrsdorf, DE",22299.0,Compact,Pre-registered,5.0,NaN,110.0,Automatic,...,0.0,6.0,7.0,2.0,15.0,Basic,Standard,Basic,Standard,No
15465,dacia,Dacia,"Haardt 2, 09247 Chemnitz-Röhrsdorf, DE",22479.0,Compact,Pre-registered,5.0,NaN,110.0,Automatic,...,0.0,6.0,7.0,2.0,15.0,Basic,Standard,Basic,Standard,No
16537,dacia,Dacia,"Florian-Geyer-Straße 1, 09120 Chemnitz, DE",21799.0,Station wagon,Demonstration,5.0,NaN,2000.0,Manual,...,0.0,14.0,8.0,2.0,15.0,Standard,Standard,Basic,Standard,No
16846,dacia,Dacia,"Schopperstr. 99, 07937 Zeulenroda, DE",9999.0,Sedan,Used,5.0,NaN,59098.0,Manual,...,47.0,NaN,1.0,3.0,NaN,NaN,NaN,Basic,Basic,No

In [102]:
df_cleaned[df_cleaned['make_model']=='toyota mr 2']['doors'].sample(5)

17487    2.0
17797    2.0
17454    2.0
17486    2.0
17399    2.0
Name: doors, dtype: float64

In [152]:
df_cleaned = df_cleaned.copy()

In [144]:
def fill_na_with_mode(df, column, group_by_hierarchy):
    """
    Fill NA values in a specified column of a DataFrame by using the mode 
    from a hierarchical grouping approach.
    
    Parameters:
    - df (DataFrame): The input DataFrame.
    - column (str): The name of the column to fill NA values for.
    - group_by_hierarchy (list of str): A list of column names representing 
    the hierarchy for grouping (from most specific to least specific).
    """
    # Create a copy to avoid modifying the original DataFrame
    df_filled = df.copy()

    # Iterate over the group by hierarchy
    for group_by in group_by_hierarchy:
        # Filter rows that still have NA in the target column after previous iterations
        rows_to_fill = df_filled[column].isna()
        
        if rows_to_fill.any():
            # Calculate the mode for each group using all non-NA values
            mode_values = df_filled.groupby(group_by)[column].transform(
                lambda x: x.mode().iloc[0] if not x.mode().empty else None
            )
            # Fill NA values in the original DataFrame with the calculated modes
            df_filled.loc[rows_to_fill, column] = mode_values[rows_to_fill]
    
    return df_filled

In [146]:
#Define the hierarchy for filling NA values
hierarchy =['make_model', 'make']

#Columns to fill NA values for 
columns_to_fill = filling_nulls_with_mode


#Apply the function to each column
for column in columns_to_fill:
    cleaned_df = fill_na_with_mode(cleaned_df, column, hierarchy)
for column in columns_to_fill:
    if cleaned_df[column].isna().any():
        print(f"\nWarning: NA values remain in column '{column}' after filling.")
    else:
        print(f"\nAll NA values filled in column '{column}'.")

NameError: name 'filling_nulls_with_mode' is not defined

In [154]:
null_mask = df_cleaned[df_cleaned[["gearbox", "doors"]].isnull().any(axis=1)][["make_model", "gearbox", "doors"]]
null_mask
df_cleaned.loc[null_mask.index][["make_model", "gearbox", "doors", "full_service_history"]].sample(5)

           make_model    gearbox  doors full_service_history
14386     skoda karoq  Automatic    NaN                  Yes
3324          opel gt        NaN    NaN                   No
11215       fiat 500x        NaN    5.0                   No
22079     ford escort     Manual    NaN                   No
24866  hyundai tucson  Automatic    NaN                   No

In [156]:
null_summary4 = analyze_null_values(df_cleaned)
null_summary4

                              Null Count  Null Percentage
make_model                             0             0.00
age                                    0             0.00
full_service_history                   0             0.00
seller                                 0             0.00
mileage                                1             0.00
non_smoker_vehicle                     0             0.00
body_type                              0             0.00
price                                  0             0.00
type                                   0             0.00
make                                   0             0.00
location                               0             0.00
gearbox                              248             0.87
doors                                359             1.25
horsepower                           576             2.01
engine_size                         1403             4.90
fuel_type                           1787             6.24
categorized_fuel_type               2113             7.38
seats                               3125            10.92
comfort_convenience_category        3197            11.17
comfort_convenience_counts          3197            11.17
safety_security_category            3215            11.23
safety_security_counts              3215            11.23
entertainment_media_category        4986            17.42
entertainment_media_counts          4986            17.42
extra_counts                        5150            17.99
extras_category                     5150            17.99
avg_fuel_consumption                8733            30.50
gears                               9676            33.80
cylinders                           9778            34.15
upholstery                         10020            35.00
co₂emissions                       10036            35.05
empty_weight                       10872            37.97
drivetrain                         11737            41.00
previous_owner                     14615            51.05
warranty                           15165            52.97
energy_efficiency_class            20826            72.74

In [158]:
filling_nulls_with_mean =['co₂_emissions', 'avg_fuel_consumption']

In [160]:
def fill_na_with_mean(df, column, group_by_hierarchy):
    """
    Fill NA values in a specified column of a DataFrame by using the mean 
    from a hierarchical grouping approach.
    
    Parameters:
    - df (DataFrame): The input DataFrame.
    - column (str): The name of the column to fill NA values for.
    - group_by_hierarchy (list of str): A list of column names representing 
    the hierarchy for grouping (from most specific to least specific).
    """
    # Create a copy to avoid modifying the original DataFrame
    df_filled = df.copy()

    # Iterate over the group by hierarchy
    for group_by in group_by_hierarchy:
        # Filter rows that still have NA in the target column after previous iterations
        rows_to_fill = df_filled[column].isna()
        
        if rows_to_fill.any():
            # Calculate the mode for each group using all non-NA values
            mean_values = df_filled.groupby(group_by)[column].transform(
                lambda x: round(x.mean()) if not x.isnull().all() else np.nan
            )
            # Fill NA values in the original DataFrame with the calculated modes
            df_filled.loc[rows_to_fill, column] = mean_values[rows_to_fill].astype(int)
    
    return df_filled

In [166]:
columns_to_fill = filling_nulls_with_mean


#Apply the function to each column
for column in columns_to_fill:
    df_cleaned = fill_na_with_mode(df_cleaned, column, hierarchy)
for column in columns_to_fill:
    if cleaned_df[column].isna().any():
        print(f"\nWarning: NA values remain in column '{column}' after filling.")
    else:
        print(f"\nAll NA values filled in column '{column}'.")

KeyError: 'co₂_emissions'

In [172]:
df_cleaned = df_cleaned.sort_values(by='age', ascending=True)
fillied_within_groups = df_cleaned.groupby(['make_model'])['previous_owner'].apply(lambda group: group.ffill().bfill())
filled_df = filled_within_groups.reset_index(level=[0,1])
df_cleaned = df_cleaned.merge(filled_df[['previous_owner']],
                              left_index=True, right_index=True,
                              suffixes=('_original', '_filled'))
df_cleaned['previous_owner_filled'] = df_cleaned.groupby(['make'])['previous_owner_filled'].ffill().bfill()
df_cleaned = df_cleaned.drop(columns=['previous_owner_original'])
df_cleaned = df_cleaned.rename(columns={'previous_owner_filled': 'previous_owner'})

NameError: name 'filled_within_groups' is not defined

In [174]:
df_cleaned['previous_owner'].isna().sum()

14615

In [180]:
df_cleaned[df_cleaned['previous_owner']>=2][['age', 'make_model', 'previous_owner']].sample(15)

        age           make_model  previous_owner
3260   30.0         opel calibra             2.0
2209    6.0  mercedes-benz s 400             2.0
2977    9.0         opel cascada             3.0
554     8.0  mercedes-benz e 200             2.0
14487   3.0         skoda kodiaq             2.0
3345   12.0           opel astra             2.0
29417  21.0            volvo s80             3.0
8021    9.0          peugeot rcz             2.0
14616   7.0         skoda superb             2.0
2920   14.0              opel gt             3.0
3364   43.0           opel monza             2.0
23534  23.0           ford focus             3.0
27772  11.0           volvo xc60             2.0
17759  18.0        toyota celica             2.0
5585    9.0       renault megane             2.0

In [182]:
df_cleaned = df_cleaned.sort_values(by='age', ascending=True)
fillied_within_groups = df_cleaned.groupby(['make_model'])['warranty'].apply(lambda group: group.ffill().bfill())
filled_df = filled_within_groups.reset_index(level=[0,1])
df_cleaned = df_cleaned.merge(filled_df[['warranty']],
                              left_index=True, right_index=True,
                              suffixes=('_original', '_filled'))
df_cleaned['warranty_filled'] = df_cleaned.groupby(['make'])['warranty_filled'].ffill().bfill()
df_cleaned = df_cleaned.drop(columns=['warranty_original'])
df_cleaned = df_cleaned.rename(columns={'warranty_filled': 'warranty'})

KeyError: "None of [Index(['warranty'], dtype='object')] are in the [columns]"

In [186]:
df_cleaned['warranty'].sample(25)

3872     60.0
16713    12.0
14290     NaN
14625    12.0
6122      NaN
2068      NaN
1435      NaN
4993     12.0
1951     24.0
24042    12.0
2218     24.0
1050     24.0
24811     NaN
15140     NaN
22524     NaN
9829      NaN
17884     NaN
2447     12.0
16919    12.0
1921     12.0
24272     NaN
1274      0.0
20043     NaN
18722    12.0
6562      6.0
Name: warranty, dtype: float64

In [195]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    sampled_df = (
        df_cleaned
        .groupby(['make_model'])
        .apply(lambda group: group[['make', 'price', 'mileage', 'age', 'previous_owner', 'warranty']].sample(1))
        .reset_index(drop=True)  # İndeksi sıfırlamak isteyebilirsiniz
    )
    print(sampled_df)

              make     price    mileage   age  previous_owner  warranty
0            Dacia   22479.0      110.0   0.0             1.0       NaN
1            Dacia   20500.0      999.0   0.0             NaN      12.0
2            Dacia   19980.0    18000.0   3.0             1.0      12.0
3            Dacia   17955.0     9379.0   0.0             NaN      12.0
4            Dacia   26298.0       50.0   0.0             1.0       NaN
5            Dacia   11990.0    59999.0   4.0             NaN      12.0
6            Dacia    7990.0   134904.0   7.0             NaN      12.0
7            Dacia   14409.0    30473.0   2.0             NaN      12.0
8            Dacia   22985.0     1001.0   1.0             1.0       NaN
9             Fiat   15000.0    41263.0  51.0             3.0       NaN
10            Fiat    9900.0    98000.0  48.0             NaN       NaN
11            Fiat   16121.0   125618.0   6.0             NaN      12.0
12            Fiat    4500.0     1000.0  36.0             3.0       NaN
13            Fiat    3900.0     3500.0  47.0             3.0       NaN
14            Fiat    6900.0    48000.0  52.0             NaN       NaN
15            Fiat   26000.0    53000.0  47.0             3.0       NaN
16            Fiat   24500.0        1.0  34.0             NaN       NaN
17            Fiat   13980.0    18503.0   4.0             2.0       NaN
18            Fiat   20500.0    29690.0   3.0             NaN       NaN
19            Fiat   17990.0    25336.0   2.0             NaN      90.0
20            Fiat   29999.0     5000.0   0.0             NaN       NaN
21            Fiat   14990.0    44863.0   6.0             NaN      12.0
22            Fiat   13754.0    27084.0   4.0             NaN      12.0
23            Fiat   17990.0    25000.0   4.0             1.0      12.0
24            Fiat   16500.0    47000.0  59.0             2.0       NaN
25            Fiat   12800.0    51824.0  56.0             NaN       NaN
26            Fiat    6950.0   163755.0  27.0             NaN       NaN
27            Fiat    1100.0   147946.0  22.0             NaN       NaN
28            Fiat    1999.0    98000.0  23.0             NaN       NaN
29            Fiat    8900.0    57045.0  51.0             NaN       NaN
30            Fiat   17000.0    85500.0  23.0             NaN       NaN
31            Fiat    1990.0   342000.0  14.0             NaN       NaN
32            Fiat   43000.0    80336.0  55.0             NaN       NaN
33            Fiat    9990.0    78040.0  11.0             NaN       NaN
34            Fiat    9800.0   107900.0   3.0             NaN       NaN
35            Fiat    9990.0   191800.0   9.0             2.0       NaN
36            Fiat   22500.0    93986.0   4.0             NaN      12.0
37            Fiat    5950.0    74454.0   9.0             2.0       NaN
38            Fiat    2750.0   188000.0  16.0             NaN       NaN
39            Fiat   12900.0        1.0   0.0             NaN       NaN
40            Fiat   15500.0    83300.0   4.0             NaN      12.0
41            Fiat    7800.0    87000.0   5.0             NaN       NaN
42            Fiat    4300.0   220000.0  11.0             NaN       NaN
43            Fiat   12590.0    23627.0   3.0             NaN      12.0
44            Fiat   18600.0   144000.0  39.0             2.0       NaN
45            Fiat    7400.0    72416.0  11.0             1.0       NaN
46            Fiat    1900.0   222649.0  19.0             NaN       NaN
47            Fiat   18754.0    63353.0   5.0             NaN      12.0
48            Fiat    3200.0    95100.0  15.0             NaN      12.0
49            Fiat    9900.0   116358.0  15.0             NaN       NaN
50            Fiat   37990.0    21477.0   3.0             2.0       NaN
51            Fiat   13990.0    59500.0   2.0             NaN      12.0
52            Fiat   19500.0   159000.0  32.0             NaN       NaN
53            Fiat    9900.0   114658.0  32.0             NaN       NaN
54            Ford   54000.0    28000.0  85.0             2.0       NaN
55            Ford    9800.0    90607.0   7.0             NaN      12.0
56            Ford   87500.0      100.0   0.0             1.0       NaN
57            Ford   11750.0   112602.0   6.0             NaN      12.0
58            Ford   12900.0   139000.0  38.0             2.0       NaN
59            Ford    5200.0   168200.0  24.0             NaN       NaN
60            Ford   21900.0        1.0   0.0             NaN      60.0
61            Ford   38880.0    25657.0   2.0             1.0       NaN
62            Ford    4750.0    48850.0  36.0             2.0       NaN
63            Ford   61900.0    17403.0   2.0             NaN      12.0
64            Ford   79990.0     3500.0   0.0             1.0       NaN
65            Ford   24999.0   140000.0  17.0             NaN      12.0
66            Ford   49900.0    99500.0  63.0             NaN       NaN
67            Ford   20550.0    17500.0   1.0             1.0      24.0
68            Ford   29890.0    29200.0   3.0             2.0       NaN
69            Ford    6490.0   140000.0  12.0             1.0       NaN
70            Ford   43000.0   130000.0  57.0             NaN       NaN
71            Ford   39700.0    25000.0  46.0             NaN       NaN
72            Ford   19290.0    49200.0   4.0             1.0      60.0
73            Ford   25180.0    53750.0   4.0             1.0      60.0
74            Ford  998000.0     1900.0   4.0             NaN      12.0
75            Ford   10910.0    33397.0   4.0             1.0      12.0
76            Ford   24650.0    27834.0   3.0             1.0       NaN
77            Ford  125000.0     7500.0  36.0             NaN       3.0
78            Ford   54500.0      100.0   0.0             1.0       NaN
79            Ford   26750.0   124000.0  65.0             NaN       NaN
80            Ford   24700.0    37766.0   2.0             NaN      12.0
81            Ford   38990.0    16878.0   4.0             NaN       NaN
82            Ford   62900.0        1.0   0.0             NaN      36.0
83            Ford    9990.0    48700.0  28.0             NaN       NaN
84            Ford   31990.0      100.0   0.0             NaN      57.0
85            Ford   27485.0   124500.0   6.0             NaN       NaN
86            Ford   62970.0     5000.0   0.0             NaN       NaN
87            Ford   42850.0    28200.0   1.0             1.0       NaN
88            Ford   55000.0    10000.0  36.0             NaN       NaN
89            Ford    6500.0    79243.0  17.0             2.0       NaN
90            Ford   22990.0   108989.0  17.0             2.0      12.0
91            Ford   23990.0    10299.0   1.0             NaN      12.0
92            Ford   17999.0    23942.0   4.0             1.0      60.0
93            Ford   39430.0    55300.0   3.0             1.0      60.0
94            Ford    9990.0   102000.0   5.0             1.0       NaN
95            Ford   25950.0       20.0   0.0             1.0      60.0
96            Ford   17500.0    44626.0   3.0             2.0       NaN
97            Ford   34800.0    91263.0   5.0             2.0      12.0
98         Hyundai   19990.0     9372.0   1.0             1.0      60.0
99         Hyundai    1699.0   170395.0  21.0             NaN       NaN
100        Hyundai    2300.0    72000.0  22.0             NaN       NaN
101        Hyundai   16700.0     1200.0   1.0             NaN      60.0
102        Hyundai    6500.0   194000.0  14.0             NaN       NaN
103        Hyundai   16650.0    51172.0   3.0             NaN      12.0
104        Hyundai    3990.0    58478.0  24.0             NaN      12.0
105        Hyundai   19888.0   115000.0  10.0             4.0       NaN
106        Hyundai   13990.0   102200.0  11.0             NaN       0.0
107        Hyundai    2395.0   203742.0  14.0             NaN       NaN
108        Hyundai   17200.0   173000.0   8.0             2.0       NaN
109        Hyundai   15000.0    99524.0   5.0             NaN       NaN
110        Hyundai   26880.0    87831.0   4.0             1.0       NaN
111        Hyundai   15490.0    27261.0   3.0             NaN       NaN
112        Hyundai   11330.0    35745.0   2.0             1.0       NaN
113        Hyundai   22490.0    11058.0   1.0             1.0       NaN
114        Hyundai   14860.0   148667.0   7.0             NaN      12.0
115        Hyundai   22945.0    63147.0   5.0             NaN       NaN
116        Hyundai   59974.0    15600.0   1.0             1.0      50.0
117        Hyundai   11990.0    35291.0   6.0             NaN      12.0
118        Hyundai   13990.0   104041.0   7.0             1.0      11.0
119        Hyundai   42391.0    12207.0   1.0             1.0       NaN
120        Hyundai   37500.0       10.0   0.0             NaN      12.0
121        Hyundai     750.0   161000.0  22.0             3.0       NaN
122        Hyundai    1250.0   175214.0  18.0             1.0       NaN
123        Hyundai   61560.0     4444.0   1.0             NaN       NaN
124        Hyundai    7600.0    36900.0  30.0             NaN       NaN
125        Hyundai   23999.0    99300.0   4.0             2.0       NaN
126        Hyundai    4200.0   159400.0  15.0             1.0       NaN
127        Hyundai   49990.0    12990.0   1.0             NaN       NaN
128        Hyundai    4500.0   180000.0  17.0             NaN       NaN
129        Hyundai    5000.0   172000.0  18.0             2.0       NaN
130        Hyundai    2490.0   224000.0  15.0             NaN       NaN
131        Hyundai   19900.0    80000.0   4.0             NaN      16.0
132        Hyundai   12777.0    38000.0   8.0             NaN       NaN
133  Mercedes-Benz  103580.0     8000.0   0.0             1.0       NaN
134  Mercedes-Benz   34900.0    33587.0   4.0             NaN      12.0
135  Mercedes-Benz  180000.0       10.0  59.0             4.0       NaN
136  Mercedes-Benz    6950.0   205000.0  18.0             2.0       NaN
137  Mercedes-Benz  129000.0    35633.0  64.0             3.0       NaN
138  Mercedes-Benz  128000.0    88000.0  39.0             2.0       NaN
139  Mercedes-Benz   21920.0   130500.0   9.0             2.0       NaN
140  Mercedes-Benz   19990.0    61000.0  35.0             3.0       NaN
141  Mercedes-Benz    4900.0   457379.0  37.0             NaN       NaN
142  Mercedes-Benz    6950.0    97700.0  24.0             2.0       NaN
143  Mercedes-Benz    9999.0   226500.0  50.0             1.0       NaN
144  Mercedes-Benz   29900.0   191900.0  49.0             2.0       NaN
145  Mercedes-Benz   45000.0    69900.0  39.0             NaN       NaN
146  Mercedes-Benz   15000.0   129000.0   9.0             NaN       6.0
147  Mercedes-Benz    6990.0   135000.0  14.0             NaN       NaN
148  Mercedes-Benz   14990.0    69210.0   8.0             NaN       NaN
149  Mercedes-Benz   16500.0   160000.0   7.0             NaN      12.0
150  Mercedes-Benz   45990.0        1.0   0.0             NaN      12.0
151  Mercedes-Benz   35500.0    26000.0   3.0             NaN      12.0
152  Mercedes-Benz   23999.0    25914.0   9.0             NaN      12.0
153  Mercedes-Benz   53900.0     4700.0   3.0             NaN      12.0
154  Mercedes-Benz   70000.0    11562.0   1.0             NaN       NaN
155  Mercedes-Benz  175000.0     3561.0   1.0             1.0      24.0
156  Mercedes-Benz   17980.0    51350.0   8.0             2.0       NaN
157  Mercedes-Benz   21990.0    97450.0   5.0             NaN      12.0
158  Mercedes-Benz   18340.0    95470.0   8.0             NaN       NaN
159  Mercedes-Benz   34849.0    26050.0   2.0             NaN      24.0
160  Mercedes-Benz    4690.0   165000.0  17.0             NaN       NaN
161  Mercedes-Benz   29200.0    20511.0   1.0             NaN       NaN
162  Mercedes-Benz   34880.0    14940.0   4.0             NaN       NaN
163  Mercedes-Benz   44490.0    21486.0   1.0             1.0      12.0
164  Mercedes-Benz   40990.0    64504.0   4.0             2.0      24.0
165  Mercedes-Benz   14990.0   110500.0  13.0             2.0       NaN
166  Mercedes-Benz   44800.0    29400.0   1.0             1.0      24.0
167  Mercedes-Benz   16199.0    41731.0  10.0             NaN      12.0
168  Mercedes-Benz   11800.0   244000.0  13.0             NaN      12.0
169  Mercedes-Benz   15490.0   155634.0  13.0             2.0       NaN
170  Mercedes-Benz   39900.0    95721.0  26.0             2.0       NaN
171  Mercedes-Benz   36990.0    44987.0   3.0             1.0      24.0
172  Mercedes-Benz   36680.0    94932.0   4.0             1.0       NaN
173  Mercedes-Benz   57900.0    27600.0   4.0             2.0       NaN
174  Mercedes-Benz   39490.0     8500.0   0.0             NaN       NaN
175  Mercedes-Benz   24950.0    80000.0  15.0             NaN      12.0
176  Mercedes-Benz   29990.0    69253.0  21.0             1.0       NaN
177  Mercedes-Benz   32999.0   166000.0  13.0             NaN      12.0
178  Mercedes-Benz   36900.0    34900.0   1.0             1.0      12.0
179  Mercedes-Benz   34980.0     6853.0   1.0             1.0      24.0
180  Mercedes-Benz   29690.0    54334.0   4.0             NaN      12.0
181  Mercedes-Benz   28990.0    24423.0   5.0             1.0      12.0
182  Mercedes-Benz   57990.0    16000.0   2.0             NaN      12.0
183  Mercedes-Benz   69850.0    24803.0   2.0             2.0       NaN
184  Mercedes-Benz   12490.0   107000.0  13.0             NaN      12.0
185  Mercedes-Benz   11990.0    59000.0  16.0             NaN      12.0
186  Mercedes-Benz    8500.0   121000.0  22.0             NaN       NaN
187  Mercedes-Benz   14500.0   110000.0  18.0             2.0       NaN
188  Mercedes-Benz   14900.0   182583.0  14.0             NaN       NaN
189  Mercedes-Benz    3900.0   344000.0  17.0             NaN       NaN
190  Mercedes-Benz    6999.0   199350.0  16.0             NaN       NaN
191  Mercedes-Benz   15900.0    48500.0  19.0             3.0       NaN
192  Mercedes-Benz   44900.0    79000.0  19.0             NaN       NaN
193  Mercedes-Benz   44990.0    72600.0  14.0             3.0       NaN
194  Mercedes-Benz   29900.0    97454.0   6.0             NaN       NaN
195  Mercedes-Benz   23880.0    96895.0   7.0             NaN       NaN
196  Mercedes-Benz   12499.0   127976.0  12.0             2.0       NaN
197  Mercedes-Benz   71850.0     7049.0   2.0             1.0       0.0
198  Mercedes-Benz   14990.0   158939.0  14.0             NaN      12.0
199  Mercedes-Benz   22800.0   190000.0  10.0             NaN      12.0
200  Mercedes-Benz   57670.0    68560.0   4.0             3.0      24.0
201  Mercedes-Benz   84500.0     5600.0   1.0             1.0      12.0
202  Mercedes-Benz   30880.0    77793.0   8.0             NaN       NaN
203  Mercedes-Benz  103785.0     4900.0   0.0             1.0      24.0
204  Mercedes-Benz  108490.0    76500.0   4.0             4.0      12.0
205  Mercedes-Benz   34990.0    78000.0   3.0             1.0      12.0
206  Mercedes-Benz   16950.0   203863.0  12.0             1.0       0.0
207  Mercedes-Benz    8990.0    99877.0  30.0             1.0       NaN
208  Mercedes-Benz    8888.0   101300.0  18.0             NaN      12.0
209  Mercedes-Benz   12450.0   177671.0  11.0             NaN       NaN
210  Mercedes-Benz    6990.0   242000.0  29.0             NaN       NaN
211  Mercedes-Benz   17990.0    93000.0  10.0             NaN      12.0
212  Mercedes-Benz    5950.0    96360.0  20.0             2.0       NaN
213  Mercedes-Benz   20999.0   108835.0  10.0             2.0       NaN
214  Mercedes-Benz   32999.0   128585.0   5.0             1.0       NaN
215  Mercedes-Benz   42999.0   119176.0   5.0             1.0       NaN
216  Mercedes-Benz   54890.0    30890.0   3.0             1.0       NaN
217  Mercedes-Benz   63900.0    28000.0   1.0             NaN      12.0
218  Mercedes-Benz    7800.0   178000.0  18.0             NaN      12.0
219  Mercedes-Benz   59950.0    96000.0   3.0             1.0       NaN
220  Mercedes-Benz  115990.0    18000.0   1.0             2.0       NaN
221  Mercedes-Benz   61485.0     9900.0   0.0             1.0      24.0
222  Mercedes-Benz   57444.0     6000.0   0.0             1.0      23.0
223  Mercedes-Benz   70950.0     5454.0   0.0             NaN       NaN
224  Mercedes-Benz   67790.0     9900.0   0.0             1.0      24.0
225  Mercedes-Benz   78000.0     9552.0   1.0             NaN      24.0
226  Mercedes-Benz   95999.0    10000.0   0.0             1.0      19.0
227  Mercedes-Benz  118790.0     4500.0   0.0             1.0       0.0
228  Mercedes-Benz   92130.0     5000.0   0.0             1.0      12.0
229  Mercedes-Benz  122500.0     5712.0   0.0             NaN      12.0
230  Mercedes-Benz   73950.0     8000.0   1.0             NaN       NaN
231  Mercedes-Benz   23590.0    73394.0   7.0             1.0      12.0
232  Mercedes-Benz   28900.0    86500.0  28.0             1.0       NaN
233  Mercedes-Benz   12000.0   242797.0  37.0             NaN       NaN
234  Mercedes-Benz  136000.0   125900.0   3.0             NaN      24.0
235  Mercedes-Benz  172000.0    17385.0   3.0             1.0       NaN
236  Mercedes-Benz  121463.0    41731.0   4.0             2.0      24.0
237  Mercedes-Benz   89999.0   136900.0  12.0             3.0       NaN
238  Mercedes-Benz   92690.0    82178.0   7.0             3.0       NaN
239  Mercedes-Benz  159999.0    44500.0   9.0             2.0       0.0
240  Mercedes-Benz   17000.0   249000.0  13.0             NaN      12.0
241  Mercedes-Benz   18780.0   242144.0  11.0             3.0       NaN
242  Mercedes-Benz   18000.0   315000.0  15.0             NaN      12.0
243  Mercedes-Benz   23999.0   195325.0  11.0             2.0       NaN
244  Mercedes-Benz   49499.0   157789.0   8.0             2.0       NaN
245  Mercedes-Benz   21980.0    63673.0   5.0             1.0       NaN
246  Mercedes-Benz   42950.0    43530.0   1.0             NaN       NaN
247  Mercedes-Benz   25690.0    65156.0   6.0             NaN      12.0
248  Mercedes-Benz   21949.0   125124.0   7.0             2.0       NaN
249  Mercedes-Benz   62590.0    37450.0   2.0             1.0       NaN
250  Mercedes-Benz   33490.0    72680.0   7.0             2.0       NaN
251  Mercedes-Benz   49995.0    17406.0   1.0             NaN       NaN
252  Mercedes-Benz   44900.0    24899.0   2.0             NaN       NaN
253  Mercedes-Benz   45450.0     6166.0   2.0             1.0      24.0
254  Mercedes-Benz   52990.0    11500.0   1.0             NaN      12.0
255  Mercedes-Benz   64850.0     5723.0   0.0             1.0       NaN
256  Mercedes-Benz   48000.0    22718.0   3.0             NaN      12.0
257  Mercedes-Benz   40000.0    98000.0   2.0             NaN      12.0
258  Mercedes-Benz   38200.0    42000.0   3.0             1.0       NaN
259  Mercedes-Benz   49950.0    25415.0   1.0             NaN      24.0
260  Mercedes-Benz   33790.0   116614.0   5.0             1.0      12.0
261  Mercedes-Benz   72890.0     5000.0   0.0             1.0       NaN
262  Mercedes-Benz   70990.0    25826.0   2.0             2.0      12.0
263  Mercedes-Benz  103750.0     9480.0   0.0             1.0       NaN
264  Mercedes-Benz   46850.0    88000.0   5.0             1.0      12.0
265  Mercedes-Benz   69895.0    68385.0   2.0             NaN      24.0
266  Mercedes-Benz   39990.0   124980.0   6.0             NaN       NaN
267  Mercedes-Benz  101899.0     5000.0   0.0             1.0      12.0
268  Mercedes-Benz   45400.0   199000.0   5.0             NaN      12.0
269  Mercedes-Benz   79995.0    34438.0   2.0             1.0      12.0
270  Mercedes-Benz   39590.0    69412.0   6.0             NaN      12.0
271  Mercedes-Benz  115980.0     7225.0   0.0             1.0      24.0
272  Mercedes-Benz  126370.0     4900.0   0.0             1.0      24.0
273  Mercedes-Benz  153990.0    20000.0   1.0             NaN       NaN
274  Mercedes-Benz   18490.0   190349.0   9.0             NaN      12.0
275  Mercedes-Benz   14890.0   155437.0  11.0             NaN       NaN

/var/folders/tr/39ygl5492917qqf073lt54hh0000gn/T/ipykernel_44155/1310740140.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: group[['make', 'price', 'mileage', 'age', 'previous_owner', 'warranty']].sample(1))

In [199]:
analyze_null_values(df_cleaned)

                              Null Count  Null Percentage
make_model                             0             0.00
age                                    0             0.00
full_service_history                   0             0.00
seller                                 0             0.00
mileage                                1             0.00
non_smoker_vehicle                     0             0.00
body_type                              0             0.00
price                                  0             0.00
type                                   0             0.00
make                                   0             0.00
location                               0             0.00
gearbox                              248             0.87
doors                                359             1.25
horsepower                           576             2.01
engine_size                         1403             4.90
fuel_type                           1787             6.24
categorized_fuel_type               2113             7.38
seats                               3125            10.92
comfort_convenience_category        3197            11.17
comfort_convenience_counts          3197            11.17
safety_security_category            3215            11.23
safety_security_counts              3215            11.23
entertainment_media_category        4986            17.42
entertainment_media_counts          4986            17.42
extra_counts                        5150            17.99
extras_category                     5150            17.99
avg_fuel_consumption                8733            30.50
gears                               9676            33.80
cylinders                           9778            34.15
upholstery                         10020            35.00
co₂emissions                       10036            35.05
empty_weight                       10872            37.97
drivetrain                         11737            41.00
previous_owner                     14615            51.05
warranty                           15165            52.97
energy_efficiency_class            20826            72.74

In [205]:
df_cleaned[['comfort_convenience_category', 'entertainment_media_category', 'extras_category', 'safety_security_category']].sample(10)

,comfort_convenience_category,entertainment_media_category,extras_category,safety_security_category
3102,Basic,NaN,Basic,Basic
17264,Standard,Standard,Basic,Premium
1239,Premium,Premium,Premium,Premium
6414,Standard,Premium,Basic,Standard
19512,NaN,NaN,NaN,NaN
7703,Basic,Basic,Basic,Basic
10119,NaN,NaN,NaN,NaN
26472,Standard,Standard,Premium,Standard
16845,Standard,Premium,Standard,Standard
25628,Standard,Premium,Basic,Standard

In [242]:
def find_feature_mode(series):
    processed_items = []
    for item in series:
        if isinstance(item, str):  # Burada parantez kullanılmalı
            processed_items.extend([i for i in item.split(', ') if i != "NaN"])
            return processed_items
        elif isinstance(item, (list, tuple)):
            processed_items.extend([i for i in item if i!= 'NaN'])
        else:
            if item!= float('NaN') and item is not None:
                processed_items.append(str(item))

from collections import Counter 
if processed_items:
    mode_items = Counter(processed_items).most_common(5)
    return mode_items if mode_items else None
else:
    return None
columns_of_interest = ['confort_ convenience', 'entertainment media', 'extras', 'safety_security']

for name, group in df.groupby('make_model'):
    print(f"--- **Make & Model:** {name}---")
    for column in columns_of_interest:
        if column in group.columns:
            mode_result = find_feature_mode(group[ column])
            if mode_result:
                print(f"{column} Mode: **{mode_result[:3]}** (Count:{mode_result[:3][:31]})")
            else:
                print(f"{column} Mode: #No Mode Found**")
    print()
# Empty line for better readability between groups

NameError: name 'processed_items' is not defined

In [244]:
import pandas as pd
from collections import Counter

# Fonksiyonun düzeltilmiş hali
def find_feature_mode(series):
    processed_items = []
    
    for item in series:
        if isinstance(item, str):  # Eğer öğe bir string ise
            processed_items.extend([i for i in item.split(', ') if i != "NaN"])
        elif isinstance(item, (list, tuple)):  # Eğer öğe bir liste ya da tuple ise
            processed_items.extend([i for i in item if i != 'NaN'])
        elif pd.notna(item):  # Eğer öğe NaN değilse
            processed_items.append(str(item))
    
    if processed_items:
        mode_items = Counter(processed_items).most_common(5)  # En yaygın 5 öğe
        return mode_items
    return None

# İlgili sütunlar
columns_of_interest = ['comfort_convenience', 'entertainment_media', 'extras', 'safety_security']

# DataFrame üzerinde gruplama ve işlem yapma
for name, group in df.groupby('make_model'):
    print(f"--- **Make & Model:** {name} ---")
    
    for column in columns_of_interest:
        if column in group.columns:
            mode_result = find_feature_mode(group[column])
            if mode_result:
                print(f"{column} Mode: **{mode_result[:3]}** (Count: {mode_result[:3]})")  # İlk 3 sonucu yazdır
            else:
                print(f"{column} Mode: **No Mode Found**")
    print()  # Grup arasındaki boş satır

--- **Make & Model:** Dacia  ---

--- **Make & Model:** Dacia Break ---

--- **Make & Model:** Dacia Dokker ---

--- **Make & Model:** Dacia Duster ---

--- **Make & Model:** Dacia Jogger ---

--- **Make & Model:** Dacia Lodgy ---

--- **Make & Model:** Dacia Logan ---

--- **Make & Model:** Dacia Sandero ---

--- **Make & Model:** Dacia Spring ---

--- **Make & Model:** Fiat  ---

--- **Make & Model:** Fiat 124 Coupè ---

--- **Make & Model:** Fiat 124 Spider ---

--- **Make & Model:** Fiat 126 ---

--- **Make & Model:** Fiat 127 ---

--- **Make & Model:** Fiat 128 ---

--- **Make & Model:** Fiat 130 ---

--- **Make & Model:** Fiat 131 ---

--- **Make & Model:** Fiat 500 ---

--- **Make & Model:** Fiat 500 Abarth ---

--- **Make & Model:** Fiat 500C ---

--- **Make & Model:** Fiat 500L ---

--- **Make & Model:** Fiat 500X ---

--- **Make & Model:** Fiat 500e ---

--- **Make & Model:** Fiat 595 Abarth ---

--- **Make & Model:** Fiat 600 ---

--- **Make & Model:** Fiat 850 ---

--- **Make & Model:** Fiat Barchetta ---

--- **Make & Model:** Fiat Brava ---

--- **Make & Model:** Fiat Bravo ---

--- **Make & Model:** Fiat Cinquecento ---

--- **Make & Model:** Fiat Coupe ---

--- **Make & Model:** Fiat Croma ---

--- **Make & Model:** Fiat Dino ---

--- **Make & Model:** Fiat Doblo ---

--- **Make & Model:** Fiat Fiorino ---

--- **Make & Model:** Fiat Freemont ---

--- **Make & Model:** Fiat Fullback ---

--- **Make & Model:** Fiat Grande Punto ---

--- **Make & Model:** Fiat Multipla ---

--- **Make & Model:** Fiat New Panda ---

--- **Make & Model:** Fiat Panda ---

--- **Make & Model:** Fiat Punto ---

--- **Make & Model:** Fiat Punto Evo ---

--- **Make & Model:** Fiat Qubo ---

--- **Make & Model:** Fiat Ritmo ---

--- **Make & Model:** Fiat Sedici ---

--- **Make & Model:** Fiat Seicento ---

--- **Make & Model:** Fiat Spider Europa ---

--- **Make & Model:** Fiat Stilo ---

--- **Make & Model:** Fiat Strada ---

--- **Make & Model:** Fiat Talento ---

--- **Make & Model:** Fiat Tipo ---

--- **Make & Model:** Fiat Uno ---

--- **Make & Model:** Fiat X 1/9 ---

--- **Make & Model:** Ford  ---

--- **Make & Model:** Ford B-Max ---

--- **Make & Model:** Ford Bronco ---

--- **Make & Model:** Ford C-Max ---

--- **Make & Model:** Ford Capri ---

--- **Make & Model:** Ford Cougar ---

--- **Make & Model:** Ford EcoSport ---

--- **Make & Model:** Ford Edge ---

--- **Make & Model:** Ford Escort ---

--- **Make & Model:** Ford Explorer ---

--- **Make & Model:** Ford F 150 ---

--- **Make & Model:** Ford F 250 ---

--- **Make & Model:** Ford Fairlane ---

--- **Make & Model:** Ford Fiesta ---

--- **Make & Model:** Ford Focus ---

--- **Make & Model:** Ford Focus CC ---

--- **Make & Model:** Ford GT ---

--- **Make & Model:** Ford Galaxy ---

--- **Make & Model:** Ford Gran Torino ---

--- **Make & Model:** Ford Grand C-Max ---

--- **Make & Model:** Ford Grand Tourneo ---

--- **Make & Model:** Ford Ka/Ka+ ---

--- **Make & Model:** Ford Kuga ---

--- **Make & Model:** Ford M ---

--- **Make & Model:** Ford Maverick ---

--- **Make & Model:** Ford Mercury ---

--- **Make & Model:** Ford Mondeo ---

--- **Make & Model:** Ford Mustang ---

--- **Make & Model:** Ford Mustang Mach-E ---

--- **Make & Model:** Ford Probe ---

--- **Make & Model:** Ford Puma ---

--- **Make & Model:** Ford Ranger ---

--- **Make & Model:** Ford Ranger Raptor ---

--- **Make & Model:** Ford S-Max ---

--- **Make & Model:** Ford Sierra ---

--- **Make & Model:** Ford Streetka ---

--- **Make & Model:** Ford Thunderbird ---

--- **Make & Model:** Ford Tourneo Connect ---

--- **Make & Model:** Ford Tourneo Courier ---

--- **Make & Model:** Ford Tourneo Custom ---

--- **Make & Model:** Ford Transit ---

--- **Make & Model:** Ford Transit Connect ---

--- **Make & Model:** Ford Transit Courier ---

--- **Make & Model:** Ford Transit Custom ---

--- **Make & Model:** Hyundai  ---

--- **Make & Model:** Hyundai ACCENT ---

--- **Make & Model:** Hyundai Atos ---

--- **Make & Model:** Hyundai BAYON ---

--- **Make & Model:** Hyundai Coupe ---

--- **Make & Model:** Hyundai ELANTRA ---

--- **Make & Model:** Hyundai Excel ---

--- **Make & Model:** Hyundai Genesis ---

--- **Make & Model:** Hyundai Genesis Coupe ---

--- **Make & Model:** Hyundai Getz ---

--- **Make & Model:** Hyundai Grand Santa Fe ---

--- **Make & Model:** Hyundai H 350 ---

--- **Make & Model:** Hyundai H-1 ---

--- **Make & Model:** Hyundai IONIQ ---

--- **Make & Model:** Hyundai IONIQ 5 ---

--- **Make & Model:** Hyundai KONA ---

--- **Make & Model:** Hyundai KONA Elektro ---

--- **Make & Model:** Hyundai Lantra ---

--- **Make & Model:** Hyundai Matrix ---

--- **Make & Model:** Hyundai NEXO ---

--- **Make & Model:** Hyundai S-Coupe ---

--- **Make & Model:** Hyundai SANTA FE ---

--- **Make & Model:** Hyundai SONATA ---

--- **Make & Model:** Hyundai STARIA ---

--- **Make & Model:** Hyundai TUCSON ---

--- **Make & Model:** Hyundai Terracan ---

--- **Make & Model:** Hyundai Tiburon ---

--- **Make & Model:** Hyundai Trajet ---

--- **Make & Model:** Hyundai VELOSTER ---

--- **Make & Model:** Hyundai i10 ---

--- **Make & Model:** Hyundai i20 ---

--- **Make & Model:** Hyundai i30 ---

--- **Make & Model:** Hyundai i40 ---

--- **Make & Model:** Hyundai iX20 ---

--- **Make & Model:** Hyundai iX35 ---

--- **Make & Model:** Mercedes-Benz  ---

--- **Make & Model:** Mercedes-Benz 170 ---

--- **Make & Model:** Mercedes-Benz 190 ---

--- **Make & Model:** Mercedes-Benz 200 ---

--- **Make & Model:** Mercedes-Benz 220 ---

--- **Make & Model:** Mercedes-Benz 230 ---

--- **Make & Model:** Mercedes-Benz 250 ---

--- **Make & Model:** Mercedes-Benz 260 ---

--- **Make & Model:** Mercedes-Benz 280 ---

--- **Make & Model:** Mercedes-Benz 320 ---

--- **Make & Model:** Mercedes-Benz 350 ---

--- **Make & Model:** Mercedes-Benz 450 ---

--- **Make & Model:** Mercedes-Benz 500 ---

--- **Make & Model:** Mercedes-Benz A 140 ---

--- **Make & Model:** Mercedes-Benz A 150 ---

--- **Make & Model:** Mercedes-Benz A 160 ---

--- **Make & Model:** Mercedes-Benz A 180 ---

--- **Make & Model:** Mercedes-Benz A 200 ---

--- **Make & Model:** Mercedes-Benz A 220 ---

--- **Make & Model:** Mercedes-Benz A 250 ---

--- **Make & Model:** Mercedes-Benz A 35 AMG ---

--- **Make & Model:** Mercedes-Benz A 45 AMG ---

--- **Make & Model:** Mercedes-Benz AMG GT ---

--- **Make & Model:** Mercedes-Benz B 180 ---

--- **Make & Model:** Mercedes-Benz B 200 ---

--- **Make & Model:** Mercedes-Benz B 220 ---

--- **Make & Model:** Mercedes-Benz B 250 ---

--- **Make & Model:** Mercedes-Benz C 160 ---

--- **Make & Model:** Mercedes-Benz C 180 ---

--- **Make & Model:** Mercedes-Benz C 200 ---

--- **Make & Model:** Mercedes-Benz C 220 ---

--- **Make & Model:** Mercedes-Benz C 250 ---

--- **Make & Model:** Mercedes-Benz C 280 ---

--- **Make & Model:** Mercedes-Benz C 300 ---

--- **Make & Model:** Mercedes-Benz C 32 AMG ---

--- **Make & Model:** Mercedes-Benz C 320 ---

--- **Make & Model:** Mercedes-Benz C 350 ---

--- **Make & Model:** Mercedes-Benz C 36 AMG ---

--- **Make & Model:** Mercedes-Benz C 400 ---

--- **Make & Model:** Mercedes-Benz C 43 AMG ---

--- **Make & Model:** Mercedes-Benz C 63 AMG ---

--- **Make & Model:** Mercedes-Benz CL ---

--- **Make & Model:** Mercedes-Benz CL 500 ---

--- **Make & Model:** Mercedes-Benz CL 600 ---

--- **Make & Model:** Mercedes-Benz CL 63 AMG ---

--- **Make & Model:** Mercedes-Benz CLA 180 ---

--- **Make & Model:** Mercedes-Benz CLA 200 ---

--- **Make & Model:** Mercedes-Benz CLA 220 ---

--- **Make & Model:** Mercedes-Benz CLA 250 ---

--- **Make & Model:** Mercedes-Benz CLA 35 AMG ---

--- **Make & Model:** Mercedes-Benz CLA 45 AMG ---

--- **Make & Model:** Mercedes-Benz CLK ---

--- **Make & Model:** Mercedes-Benz CLK 200 ---

--- **Make & Model:** Mercedes-Benz CLK 230 ---

--- **Make & Model:** Mercedes-Benz CLK 240 ---

--- **Make & Model:** Mercedes-Benz CLK 280 ---

--- **Make & Model:** Mercedes-Benz CLK 320 ---

--- **Make & Model:** Mercedes-Benz CLK 350 ---

--- **Make & Model:** Mercedes-Benz CLK 500 ---

--- **Make & Model:** Mercedes-Benz CLK 55 AMG ---

--- **Make & Model:** Mercedes-Benz CLK 63 AMG ---

--- **Make & Model:** Mercedes-Benz CLS ---

--- **Make & Model:** Mercedes-Benz CLS 250 ---

--- **Make & Model:** Mercedes-Benz CLS 280 ---

--- **Make & Model:** Mercedes-Benz CLS 300 ---

--- **Make & Model:** Mercedes-Benz CLS 320 ---

--- **Make & Model:** Mercedes-Benz CLS 350 ---

--- **Make & Model:** Mercedes-Benz CLS 400 ---

--- **Make & Model:** Mercedes-Benz CLS 450 ---

--- **Make & Model:** Mercedes-Benz CLS 500 ---

--- **Make & Model:** Mercedes-Benz CLS 53 AMG ---

--- **Make & Model:** Mercedes-Benz CLS 63 AMG ---

--- **Make & Model:** Mercedes-Benz E 200 ---

--- **Make & Model:** Mercedes-Benz E 220 ---

--- **Make & Model:** Mercedes-Benz E 230 ---

--- **Make & Model:** Mercedes-Benz E 240 ---

--- **Make & Model:** Mercedes-Benz E 250 ---

--- **Make & Model:** Mercedes-Benz E 280 ---

--- **Make & Model:** Mercedes-Benz E 300 ---

--- **Make & Model:** Mercedes-Benz E 320 ---

--- **Make & Model:** Mercedes-Benz E 350 ---

--- **Make & Model:** Mercedes-Benz E 400 ---

--- **Make & Model:** Mercedes-Benz E 43 AMG ---

--- **Make & Model:** Mercedes-Benz E 450 ---

--- **Make & Model:** Mercedes-Benz E 50 AMG ---

--- **Make & Model:** Mercedes-Benz E 500 ---

--- **Make & Model:** Mercedes-Benz E 53 AMG ---

--- **Make & Model:** Mercedes-Benz E 63 AMG ---

--- **Make & Model:** Mercedes-Benz EQA ---

--- **Make & Model:** Mercedes-Benz EQA 250 ---

--- **Make & Model:** Mercedes-Benz EQB 300 ---

--- **Make & Model:** Mercedes-Benz EQB 350 ---

--- **Make & Model:** Mercedes-Benz EQC 400 ---

--- **Make & Model:** Mercedes-Benz EQE 350 ---

--- **Make & Model:** Mercedes-Benz EQE 43 ---

--- **Make & Model:** Mercedes-Benz EQE 500 ---

--- **Make & Model:** Mercedes-Benz EQS ---

--- **Make & Model:** Mercedes-Benz EQV 300 ---

--- **Make & Model:** Mercedes-Benz G ---

--- **Make & Model:** Mercedes-Benz G 230 ---

--- **Make & Model:** Mercedes-Benz G 320 ---

--- **Make & Model:** Mercedes-Benz G 350 ---

--- **Make & Model:** Mercedes-Benz G 400 ---

--- **Make & Model:** Mercedes-Benz G 500 ---

--- **Make & Model:** Mercedes-Benz G 55 AMG ---

--- **Make & Model:** Mercedes-Benz G 63 AMG ---

--- **Make & Model:** Mercedes-Benz G 65 AMG ---

--- **Make & Model:** Mercedes-Benz GL 320 ---

--- **Make & Model:** Mercedes-Benz GL 350 ---

--- **Make & Model:** Mercedes-Benz GL 420 ---

--- **Make & Model:** Mercedes-Benz GL 500 ---

--- **Make & Model:** Mercedes-Benz GL 63 AMG ---

--- **Make & Model:** Mercedes-Benz GLA 180 ---

--- **Make & Model:** Mercedes-Benz GLA 200 ---

--- **Make & Model:** Mercedes-Benz GLA 220 ---

--- **Make & Model:** Mercedes-Benz GLA 250 ---

--- **Make & Model:** Mercedes-Benz GLA 35 AMG ---

--- **Make & Model:** Mercedes-Benz GLA 45 AMG ---

--- **Make & Model:** Mercedes-Benz GLB 180 ---

--- **Make & Model:** Mercedes-Benz GLB 200 ---

--- **Make & Model:** Mercedes-Benz GLB 220 ---

--- **Make & Model:** Mercedes-Benz GLB 250 ---

--- **Make & Model:** Mercedes-Benz GLB 35 AMG ---

--- **Make & Model:** Mercedes-Benz GLC 200 ---

--- **Make & Model:** Mercedes-Benz GLC 220 ---

--- **Make & Model:** Mercedes-Benz GLC 250 ---

--- **Make & Model:** Mercedes-Benz GLC 300 ---

--- **Make & Model:** Mercedes-Benz GLC 350 ---

--- **Make & Model:** Mercedes-Benz GLC 400 ---

--- **Make & Model:** Mercedes-Benz GLC 43 AMG ---

--- **Make & Model:** Mercedes-Benz GLC 63 AMG ---

--- **Make & Model:** Mercedes-Benz GLE 250 ---

--- **Make & Model:** Mercedes-Benz GLE 300 ---

--- **Make & Model:** Mercedes-Benz GLE 350 ---

--- **Make & Model:** Mercedes-Benz GLE 400 ---

--- **Make & Model:** Mercedes-Benz GLE 43 AMG ---

--- **Make & Model:** Mercedes-Benz GLE 450 ---

--- **Make & Model:** Mercedes-Benz GLE 500 ---

--- **Make & Model:** Mercedes-Benz GLE 53 AMG ---

--- **Make & Model:** Mercedes-Benz GLE 580 ---

--- **Make & Model:** Mercedes-Benz GLE 63 AMG ---

--- **Make & Model:** Mercedes-Benz GLK 200 ---

--- **Make & Model:** Mercedes-Benz GLK 220 ---

--- **Make & Model:** Mercedes-Benz GLK 250 ---

--- **Make & Model:** Mercedes-Benz GLK 350 ---

--- **Make & Model:** Mercedes-Benz GLS 350 ---

--- **Make & Model:** Mercedes-Benz GLS 400 ---

--- **Make & Model:** Mercedes-Benz GLS 63 AMG ---

--- **Make & Model:** Mercedes-Benz ML 250 ---

--- **Make & Model:** Mercedes-Benz ML 280 ---

--- **Make & Model:** Mercedes-Benz ML 300 ---

--- **Make & Model:** Mercedes-Benz ML 320 ---

--- **Make & Model:** Mercedes-Benz ML 350 ---

--- **Make & Model:** Mercedes-Benz ML 400 ---

--- **Make & Model:** Mercedes-Benz ML 450 ---

--- **Make & Model:** Mercedes-Benz ML 500 ---

--- **Make & Model:** Mercedes-Benz ML 63 AMG ---

--- **Make & Model:** Mercedes-Benz R 300 ---

--- **Make & Model:** Mercedes-Benz S 300 ---

--- **Make & Model:** Mercedes-Benz S 350 ---

--- **Make & Model:** Mercedes-Benz S 400 ---

--- **Make & Model:** Mercedes-Benz S 420 ---

--- **Make & Model:** Mercedes-Benz S 450 ---

--- **Make & Model:** Mercedes-Benz S 500 ---

--- **Make & Model:** Mercedes-Benz S 55 AMG ---

--- **Make & Model:** Mercedes-Benz S 560 ---

--- **Make & Model:** Mercedes-Benz S 580 ---

--- **Make & Model:** Mercedes-Benz S 600 ---

--- **Make & Model:** Mercedes-Benz S 63 AMG ---

--- **Make & Model:** Mercedes-Benz S 65 AMG ---

--- **Make & Model:** Mercedes-Benz SL 280 ---

--- **Make & Model:** Mercedes-Benz SL 300 ---

--- **Make & Model:** Mercedes-Benz SL 320 ---

--- **Make & Model:** Mercedes-Benz SL 350 ---

--- **Make & Model:** Mercedes-Benz SL 380 ---

--- **Make & Model:** Mercedes-Benz SL 400 ---

--- **Make & Model:** Mercedes-Benz SL 450 ---

--- **Make & Model:** Mercedes-Benz SL 500 ---

--- **Make & Model:** Mercedes-Benz SL 55 AMG ---

--- **Make & Model:** Mercedes-Benz SL 560 ---

--- **Make & Model:** Mercedes-Benz SL 600 ---

--- **Make & Model:** Mercedes-Benz SL 63 AMG ---

--- **Make & Model:** Mercedes-Benz SL 65 AMG ---

--- **Make & Model:** Mercedes-Benz SLC 180 ---

--- **Make & Model:** Mercedes-Benz SLC 200 ---

--- **Make & Model:** Mercedes-Benz SLC 250 ---

--- **Make & Model:** Mercedes-Benz SLC 300 ---

--- **Make & Model:** Mercedes-Benz SLC 43 AMG ---

--- **Make & Model:** Mercedes-Benz SLK ---

--- **Make & Model:** Mercedes-Benz SLK 200 ---

--- **Make & Model:** Mercedes-Benz SLK 230 ---

--- **Make & Model:** Mercedes-Benz SLK 250 ---

--- **Make & Model:** Mercedes-Benz SLK 280 ---

--- **Make & Model:** Mercedes-Benz SLK 300 ---

--- **Make & Model:** Mercedes-Benz SLK 350 ---

--- **Make & Model:** Mercedes-Benz SLK 55 AMG ---

--- **Make & Model:** Mercedes-Benz SLR ---

--- **Make & Model:** Mercedes-Benz SLS ---

--- **Make & Model:** Mercedes-Benz Sprinter ---

--- **Make & Model:** Mercedes-Benz V 220 ---

--- **Make & Model:** Mercedes-Benz V 250 ---

--- **Make & Model:** Mercedes-Benz V 300 ---

--- **Make & Model:** Mercedes-Benz Viano ---

--- **Make & Model:** Mercedes-Benz Vito ---

--- **Make & Model:** Mercedes-Benz X 250 ---

--- **Make & Model:** Nissan  ---

--- **Make & Model:** Nissan 100 NX ---

--- **Make & Model:** Nissan 200 SX ---

--- **Make & Model:** Nissan 280 ZX ---

--- **Make & Model:** Nissan 300 ZX ---

--- **Make & Model:** Nissan 350Z ---

--- **Make & Model:** Nissan 370Z ---

--- **Make & Model:** Nissan Almera ---

--- **Make & Model:** Nissan Almera Tino ---

--- **Make & Model:** Nissan Ariya ---

--- **Make & Model:** Nissan Cube ---

--- **Make & Model:** Nissan Datsun ---

--- **Make & Model:** Nissan E-NV200 ---

--- **Make & Model:** Nissan Evalia ---

--- **Make & Model:** Nissan Figaro ---

--- **Make & Model:** Nissan GT-R ---

--- **Make & Model:** Nissan Gloria ---

--- **Make & Model:** Nissan Juke ---

--- **Make & Model:** Nissan King Cab ---

--- **Make & Model:** Nissan Leaf ---

--- **Make & Model:** Nissan Micra ---

--- **Make & Model:** Nissan Murano ---

--- **Make & Model:** Nissan NV200 ---

--- **Make & Model:** Nissan NV250 ---

--- **Make & Model:** Nissan NV300 ---

--- **Make & Model:** Nissan NV400 ---

--- **Make & Model:** Nissan Navara ---

--- **Make & Model:** Nissan Note ---

--- **Make & Model:** Nissan Pathfinder ---

--- **Make & Model:** Nissan Patrol ---

--- **Make & Model:** Nissan Pixo ---

--- **Make & Model:** Nissan Primastar ---

--- **Make & Model:** Nissan Primera ---

--- **Make & Model:** Nissan Pulsar ---

--- **Make & Model:** Nissan Qashqai ---

--- **Make & Model:** Nissan Qashqai+2 ---

--- **Make & Model:** Nissan Rogue ---

--- **Make & Model:** Nissan Silvia ---

--- **Make & Model:** Nissan Skyline ---

--- **Make & Model:** Nissan Stagea ---

--- **Make & Model:** Nissan Sunny ---

--- **Make & Model:** Nissan Terrano ---

--- **Make & Model:** Nissan Tiida ---

--- **Make & Model:** Nissan Titan ---

--- **Make & Model:** Nissan Townstar ---

--- **Make & Model:** Nissan X-Trail ---

--- **Make & Model:** Opel  ---

--- **Make & Model:** Opel Adam ---

--- **Make & Model:** Opel Agila ---

--- **Make & Model:** Opel Ampera ---

--- **Make & Model:** Opel Antara ---

--- **Make & Model:** Opel Ascona ---

--- **Make & Model:** Opel Astra ---

--- **Make & Model:** Opel Calibra ---

--- **Make & Model:** Opel Cascada ---

--- **Make & Model:** Opel Combo ---

--- **Make & Model:** Opel Combo Life ---

--- **Make & Model:** Opel Commodore ---

--- **Make & Model:** Opel Corsa ---

--- **Make & Model:** Opel Corsa-e ---

--- **Make & Model:** Opel Crossland ---

--- **Make & Model:** Opel Crossland X ---

--- **Make & Model:** Opel Frontera ---

--- **Make & Model:** Opel GT ---

--- **Make & Model:** Opel Grandland ---

--- **Make & Model:** Opel Grandland X ---

--- **Make & Model:** Opel Insignia ---

--- **Make & Model:** Opel Kadett ---

--- **Make & Model:** Opel Karl ---

--- **Make & Model:** Opel Manta ---

--- **Make & Model:** Opel Meriva ---

--- **Make & Model:** Opel Mokka ---

--- **Make & Model:** Opel Mokka X ---

--- **Make & Model:** Opel Mokka-E ---

--- **Make & Model:** Opel Monterey ---

--- **Make & Model:** Opel Monza ---

--- **Make & Model:** Opel Movano ---

--- **Make & Model:** Opel Rekord ---

--- **Make & Model:** Opel Senator ---

--- **Make & Model:** Opel Speedster ---

--- **Make & Model:** Opel Tigra ---

--- **Make & Model:** Opel Vectra ---

--- **Make & Model:** Opel Vivaro ---

--- **Make & Model:** Opel Zafira ---

--- **Make & Model:** Opel Zafira Life ---

--- **Make & Model:** Opel Zafira Tourer ---

--- **Make & Model:** Peugeot  ---

--- **Make & Model:** Peugeot 1007 ---

--- **Make & Model:** Peugeot 106 ---

--- **Make & Model:** Peugeot 107 ---

--- **Make & Model:** Peugeot 108 ---

--- **Make & Model:** Peugeot 2008 ---

--- **Make & Model:** Peugeot 205 ---

--- **Make & Model:** Peugeot 206 ---

--- **Make & Model:** Peugeot 207 ---

--- **Make & Model:** Peugeot 208 ---

--- **Make & Model:** Peugeot 3008 ---

--- **Make & Model:** Peugeot 301 ---

--- **Make & Model:** Peugeot 304 ---

--- **Make & Model:** Peugeot 305 ---

--- **Make & Model:** Peugeot 306 ---

--- **Make & Model:** Peugeot 307 ---

--- **Make & Model:** Peugeot 308 ---

--- **Make & Model:** Peugeot 309 ---

--- **Make & Model:** Peugeot 4007 ---

--- **Make & Model:** Peugeot 4008 ---

--- **Make & Model:** Peugeot 404 ---

--- **Make & Model:** Peugeot 406 ---

--- **Make & Model:** Peugeot 407 ---

--- **Make & Model:** Peugeot 5008 ---

--- **Make & Model:** Peugeot 504 ---

--- **Make & Model:** Peugeot 505 ---

--- **Make & Model:** Peugeot 508 ---

--- **Make & Model:** Peugeot 607 ---

--- **Make & Model:** Peugeot Bipper ---

--- **Make & Model:** Peugeot Boxer ---

--- **Make & Model:** Peugeot Expert ---

--- **Make & Model:** Peugeot Partner ---


In [254]:
def count_items (series):
    """
    Counts the number of ltens In each entry of a pandas Series.
    Returns None for NaN or empty entries.
    """
    def count_logic(item):
        if isinstance(item, str):
            return len(item.split(', '))
        return 0

    return series.apply(count_logic)
df_cleaned['comfort_convenience_counts'] = count_items(df_cleaned['comfort_convenience'])
df_cleaned['entertainment_media_counts'] = count_items(df_cleaned['entertainment_media'])
df_cleaned['extra_counts'] = count_items(df_cleaned['extras'])
df_cleaned['safety_security_counts'] = count_items(df_cleaned['safety_security'])
# Display the Datafrane to check results
df_cleaned[['comfort_convenience_counts', 'entertainment_media_counts',
'extra_counts','safety_security_counts' ]]

KeyError: 'comfort_convenience'